@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$twitterFont: 'Open Sans', sans-serif;
$twitterBlue: #1DA1F2;
$twitterBlack: #14171A;
$lBlue: #E7F4FD;
$dGrey: #657786;
$lGrey: #AAB8C2;
$elGrey: #E1E8ED;
$eelGrey: #F5F8FA;